<div id="screen-profile" class="container border screen-info py-2">
    <h3>Thông tin</h3>
    <hr>
    <form action="/home/updateprofile" method="post" id="form">
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="profile-username">Tên tài khoản</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" 
                aria-describedby="profile-username" name="username" value="{{info.username}}" readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="profile-name">Họ tên</span>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                aria-describedby="profile-name" value="{{info.fullname}}" name="fullname">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="profile-email">Email</span>
            <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                aria-describedby="profile-email" value="{{info.email}}" name="email">
        </div>
        {{#if messages.errorEmail}}
        <div class="mb-3" style="color: red;">
            {{messages.errorEmail}}
        </div>
        {{/if}}
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="profile-dob">Ngày sinh</span>
            <input type="date" class="form-control" placeholder="DOB" aria-label="DOB"
                aria-describedby="profile-dob" value="{{dob}}" name="dob">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary mx-2" type="submit">Cập nhật</button>
        </div>
    </form>
</div>