<section class="h-100">
    {{#if isEmptyCart}}
    <div class="card my-2">
        <div class="card-body text-end">
            <h3 class="text-center my-0">Giỏ hàng của bạn đang trống!</h3>
        </div>
    </div>
    <div style="height:50vh"></div>
    {{else}}
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0">Giỏ hàng</h3>
                </div>

                {{#each currentCart}}
                <div id="card_{{id}}" class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src={{images}} class="img-fluid rounded-3" alt="Cotton T-shirt">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2"><strong>{{name}}</strong></p>
                                <p class="mb-0">Màu:<strong> {{color}}</strong></p>
                                <p class="mb-0">Giới tính: <strong>{{for}}</strong></p>
                                <p class="mb-0">Kích cỡ: <strong>{{size}}</strong></p>
                                <p class="mb-0">Thương hiệu: <strong>{{brand}}</strong></p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2" id="minusButton"
                                    onclick="decreaseQuantity({{id}}, '{{size}}')">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="quantity_{{id}}" min="0" name="quantity" value={{quantity}} type="number"
                                    class="form-control form-control-sm" />

                                <button class="btn btn-link px-2" id="plusButton"
                                    onclick="increaseQuantity({{id}}, '{{size}}')">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 id="total_price_{{id}}" class="mb-0">{{total_price}}đ</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="card">
                    <div class="card-body" style="text-align: right;">
                        <button type="button" id="checkoutBtn" class="btn btn-warning btn-block btn-lg">Thanh
                            toán</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/if}}
</section>

<script>
    $(() => {
        $("#checkoutBtn").on("click", function () {
            window.location.href = `/checkout`;
        });
        increaseQuantity = (id, size) => {
            $.ajax({
                url: `/cart/increaseQuantity?id=${id}&size=${size}`,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $("#checkoutBtn").prop("disabled", false);
                    $("#checkoutBtn").text("Thanh toán");
                    $(`#quantity_${id}`).val(data.quantity);
                    $(`#total_price_${id}`).html(`${data.total_price}đ`);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        decreaseQuantity = (id, size) => {
            if ($(`#quantity_${id}`).val() < 1) {
                return;
            }
            $.ajax({
                url: `/cart/decreaseQuantity?id=${id}&size=${size}`,
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.total_quantity === 0) {
                        $("#checkoutBtn").prop("disabled", true);
                        $("#checkoutBtn").text("Giỏ hàng của bạn đang trống!");
                        $(`#card_${id}`).remove();
                    }
                    else if (data.quantity === 0) {
                        $(`#card_${id}`).remove();
                    } else {
                        $("#checkoutBtn").prop("disabled", false);
                        $("#checkoutBtn").text("Thanh toán");
                        $(`#quantity_${id}`).val(data.quantity);
                        $(`#total_price_${id}`).html(`${data.total_price}đ`);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    })

</script>