<div class="mt-5">
    <h3>Tìm kiếm "{{type}}"</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {{#each moreRelateProducts}}
        <div class="col" data-id="{{this.id}}">
            <div class="card card-home h-100">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.newPrice}}₫ | {{this.sale}}</p>
                    <div class="d-flex justify-content-around">
                        <p class="card-text">Đã bán {{this.sold}}</p>
                        <p class="card-text">Đánh giá {{this.numComments}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{#if onePage}}
    {{else}}
    <nav class="d-flex justify-content-center mt-4 mb-4">
        <ul class="pagination pagination-in-search">
            
        </ul>
    </nav>
    {{/if}}

</div>

<script>
    $(() => {
        $('.col').on('click', function () {
            const product_id = $(this).data('id');
            window.location.href = `/details?id=${product_id}`;
        });

        const numPage = {{numpage}};
        const curPage = {{curpage}};
        const nameSearch = '{{type}}';
        console.log(nameSearch);
        let pagination_append = ``;

        if (curPage === 1) {
                pagination_append += 
            `
            <li class="page-item disabled">
                <a class="page-link fs-3" aria-label="Previous">Trang trước</a>
            </li>
            `
        } else {
            pagination_append += 
            `
            <li class="page-item">
                <a class="page-link fs-3" aria-label="Previous" href="relating-products?type=${nameSearch}&page=${curPage - 1}">Trang trước</a>
            </li>
            `
        }
        for (let i = 0; i < numPage; i++) {
            if (i + 1 === curPage) {
                pagination_append += 
                `
                <li class="page-item active" aria-current="page"><a class="page-link fs-3" href="relating-products?type=${nameSearch}&page=${i + 1}">${i + 1}</a></li>
                `
            } else {
                pagination_append += 
                `
                <li class="page-item"><a class="page-link fs-3" href="relating-products?type=${nameSearch}&page=${i + 1}">${i + 1}</a></li>
                `
            }
        }

        if (curPage === numPage) {
            pagination_append += 
            `
            <li class="page-item disabled">
                <a class="page-link fs-3" aria-label="Next">Trang sau</a>
            </li>
            `
        } else {
            pagination_append += 
            `
            <li class="page-item">
                <a class="page-link fs-3" aria-label="Next" href="relating-products?type=${nameSearch}&page=${curPage + 1}">Trang sau</a>
            </li>
            `
        }

        $('.pagination-in-search').append(pagination_append);
    });
</script>