<div id="screen-stats" class="container border screen-info py-2">
    <h4>Thống kê</h4>
    <hr>
    <div class="row row-cols-2 list-group-container">
        <div class="col mb-3">
            <div class="card">
                <div class="card-header">Lượng sản phẩm qua năm</div>
                <div class="card-body">
                    <canvas id="chart-add" style="width:100%;max-width:700px"></canvas>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-header">Doanh thu</div>
                <div class="card-body">
                    <canvas id="chart-revenue" style="width:100%;max-width:700px"></canvas>
                </div>
            </div>
        </div>
        <div class="col mb-3" style="width:100%">
            <div class="card">
                <div class="card-header">Bán chạy nhất</div>
                <div class="card-body d-flex justify-content-center">
                    <canvas id="chart-products" style="width:100%;max-width:700px"></canvas>
                </div>
            </div>
        </div>
        <div class="col mb-3" style="width:100%">
            <div class="card">
                <div class="card-header">Đơn đặt hàng</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tổng giá</th>
                            <th scope="col">Ngày tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{customer}}</td>
                                <td>{{{product_id}}}</td>
                                <td>{{{quantity}}}</td>
                                <td>{{price}}</td>
                                <td>{{order_date}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>